[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=ranger

# A comment which can/will be used as a tooltip
Comment=File Manager

# The path to the folder in which the executable is run
Path=/home/miked/

# The executable of the application, possibly with arguments.
Exec=st -e "/usr/bin/ranger" -t "ranger"

# The name of the icon that will be used to display this entry

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
#Categories=Programming;
Icon=/home/miked/.icons/dman.svg
