[Desktop Entry]
Type=Application
Name=Set as Background
Exec=/home/miked/scripts/set_as_background %f
Categories=Other;
NoDisplay=true
MimeType=image/jpeg
Terminal=false
